[Unit]
Description=AMPR RIP44 Daemon
Wants=syslog.service local-fs.target network-online.target
After=local-fs.target network-online.target sys-subsystem-net-devices-tunl0.device

[Service]
Restart=always
ExecStartPre=/usr/bin/bash -c 'while ! ip a show dev tunl0|grep 44.63; do :; done'
ExecStart=/usr/local/sbin/ampr-ripd -d -s -i tunl0 -t 44 -a 44.63.16.192/29,44.63.16.200/29,44.61.18.210/28 -L AK6DS@DM12jv

[Install]
WantedBy=multi-user.target
