# vi: ft=systemd
# /etc/systemd/network/10-wlrpi.network

[Match]
Name=wlrpi

[Link]
RequiredForOnline=no

[Network]
Description=Raspberry Pi Built-in WLAN
DHCP=ipv4
LinkLocalAddressing=ipv6
DNS=127.0.0.1 1.1.1.1
Domains=maiyun.me dn42
MulticastDNS=yes

[DHCP]
RouteMetric=500
UseMTU=true
