# vi: ft=systemd
# /etc/systemd/network/10-wlrpi.network

[Match]
Name=wlrpi

[Link]
RequiredForOnline=yes

[Network]
Description=Raspberry Pi Built-in WLAN
DHCP=ipv4
LinkLocalAddressing=yes
DNS=127.0.0.153
MulticastDNS=yes
UseDelegatedPrefix=yes
PrefixDelegationHint=::/60

[DHCP]
RouteMetric=500
UseMTU=true
