# vi: ft=systemd
# /etc/systemd/network/20-internal1-wg.netdev

[NetDev]
Name=wginternal1
Kind=wireguard
Description=Internal WireGuard tunnel between uc01 and ab06

[WireGuard]
ListenPort=24301
PrivateKeyFile=/etc/systemd/network/internal.wgkey

[WireGuardPeer]
PublicKey=zKX+3pDCcYji0QWaDCcZUmOZPUoTfSkhS9Cgq3NqlWk=
Endpoint=uc01.dn42.maiyun.me:24301
AllowedIPs=0.0.0.0/0
AllowedIPs=::/0
