# vi: ft=systemd
# /etc/systemd/network/30-dn42-sunnet-lax.netdev

[NetDev]
Name=wg3088sunnetlax
Kind=wireguard
Description=WireGuard tunnel to AS4242423088 SUNNET Los Angeles

[WireGuard]
ListenPort=24210
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=QSAeFPotqFpF6fFe3CMrMjrpS5AL54AxWY2w1+Ot2Bo=
Endpoint=lax1-us.dn42.6700.cc:20893
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
