# vi: ft=systemd
# /etc/systemd/network/30-dn42-sunnet-lax.network

[Match]
Name=wg3088sunnetlax

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
DHCP=no
IPv6AcceptRA=false
IPv4Forwarding=yes
IPv6Forwarding=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::abcd/64
Peer=fe80::3088:193/64
