# vi: ft=systemd
# /etc/systemd/network/40-ampr-dummy.network

[Match]
Name=dummy44

[Network]
Address=44.63.16.202/32

[RoutingPolicyRule]
To=44.0.0.0/9
Table=44
Priority=44

[RoutingPolicyRule]
To=44.128.0.0/10
Table=44
Priority=44

[RoutingPolicyRule]
From=44.63.16.192/28
Table=44
Priority=45

# Internal routes distributed by babel
[RoutingPolicyRule]
To=44.63.16.192/28
Table=main
Priority=43

# dn42 routes distributed by bird
[RoutingPolicyRule]
To=172.20.0.0/14
Table=main
Priority=43

[Route]
Destination=0.0.0.0/0
Gateway=172.23.6.161
Table=44
