[Unit]
Description=OLSR daemon
Wants=syslog.service local-fs.target network-online.target network.target
After=local-fs.target network-online.target

[Service]
Restart=always
ExecStart=/usr/local/sbin/olsrd

[Install]
WantedBy=multi-user.target
