# vi: ft=systemd
# /etc/systemd/network/10-enp2s0.network

[Match]
Name=enp2s0
Type=ether

[Link]
RequiredForOnline=no

[Network]
Description=Ethernet to UCSD agg-b-mcore
Address=137.110.116.194/24
Gateway=137.110.116.1
# Upstream has no IPv6 route yet
IPv6AcceptRA=no
LinkLocalAddressing=ipv6
DNS=132.239.0.250 1.1.1.1
Domains=ucsd.edu
MulticastDNS=no

[DHCP]
RouteMetric=400
UseMTU=true
