# vi: ft=systemd
# /etc/systemd/network/10-wlp3s0.network

[Match]
Name=wlp3s0

[Link]
RequiredForOnline=no

[Network]
Description=Built-in WLAN to kk6uc-qi-hap.ucsd.edu
DHCP=ipv4
LinkLocalAddressing=ipv6
DNS=127.0.0.1 1.1.1.1
Domains=local.mesh ucsd.edu
MulticastDNS=yes

[DHCP]
RouteMetric=500
UseMTU=true
