# vi: ft=systemd
# /etc/systemd/network/20-internal3-wg.network

[Match]
Name=wginternal3

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4040
MTUBytes=1440

[Network]
Description=Internal WireGuard tunnel between jp02 and uc01
DHCP=no
IPv6AcceptRA=false
IPv4Forwarding=yes
IPv6Forwarding=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::2c01/64
