# vi: ft=systemd
# /etc/systemd/network/20-internal3-wg.netdev

[NetDev]
Name=wginternal3
Kind=wireguard
Description=Internal WireGuard tunnel

[WireGuard]
ListenPort=24303
PrivateKeyFile=/etc/systemd/network/internal.wgkey

[WireGuardPeer]
PublicKey=kegyJkWyQHjqa9n2XDr/u+daAC6Iw+C/CVqRyBTrNhw=
Endpoint=jp02.dn42.maiyun.me:24303
AllowedIPs=0.0.0.0/0
AllowedIPs=::/0
