# vi: ft=systemd
# /etc/systemd/network/20-internal1-wg.netdev

[NetDev]
Name=wginternal1
Kind=wireguard
Description=Internal WireGuard tunnel between ab06 and uc01

[WireGuard]
ListenPort=24301
PrivateKeyFile=/etc/systemd/network/internal.wgkey

[WireGuardPeer]
PublicKey=R4DdmQnpSbbMc5bHrvsPQM0OW659xFIkKPQGbGJwFj4=
AllowedIPs=0.0.0.0/0
AllowedIPs=::/0
