# vi: ft=systemd
# /etc/systemd/network/30-dn42-lezi-us-los.network

[Match]
Name=wg3377lezilos

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242423377 lezi us-los
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::3377/64
