# vi: ft=systemd
# /etc/systemd/network/30-dn42-cowgl-lax.network

[Match]
Name=wg3999cowgllax

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242423999 cowgl Los Angeles
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::2:3999/64
