# vi: ft=systemd
# /etc/systemd/network/30-dn42-moe233-lv.network

[Match]
Name=wg0253moe233lv

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242420253 Moe233 Las Vegas
DHCP=no
IPv6AcceptRA=false
IPv4Forwarding=yes
IPv6Forwarding=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::253/64
