# vi: ft=systemd
# /etc/systemd/network/30-dn42-rbits-lax.network

[Match]
Name=wg0207rbitslax

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6

[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::207/64
