# vi: ft=systemd
# /etc/systemd/network/30-dn42-tech9-us-phx03.network

[Match]
Name=wg1588tech9phx

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242421588 tech9 us-phx03
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::100/64
Peer=fe80::1588/64
