# vi: ft=systemd
# /etc/systemd/network/30-dn42-badaimweeb-us-lax1.netdev

[NetDev]
Name=wg3797bawuslax1
Kind=wireguard
Description=WireGuard tunnel to AS4242423797 BadAimWeeb us-lax1

[WireGuard]
ListenPort=24272
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=xQdTyVYKvF3tzKlRvORGv29e1/0sj014BnqBBrz+Dlk=
Endpoint=us-lax1.rc.badaimweeb.me:50010
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
