# vi: ft=systemd
# /etc/systemd/network/30-dn42-kiou-us3.netdev

[NetDev]
Name=wg3914kiouus3
Kind=wireguard
Description=WireGuard tunnel to AS4242423914 Kioubit us3

[WireGuard]
ListenPort=24205
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=sLbzTRr2gfLFb24NPzDOpy8j09Y6zI+a7NkeVMdVSR8=
Endpoint=us3.g-load.eu:20893
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
