# vi: ft=systemd
# /etc/systemd/network/35-ampr-ipip.netdev

[NetDev]
Name=tunl0
Kind=ipip
Description=IPIP Tunnel to amprgw.ucsd.edu

[Tunnel]
Local=137.110.116.194
Remote=169.228.34.84
TTL=64
#TOS=inherit
DiscoverPathMTU=true
