[Unit]
Description=Bird Looking Glass Frontend
Wants=syslog.service local-fs.target network-online.target
After=local-fs.target network-online.target

[Service]
User=nginx
Group=nginx
Restart=always
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
UMask=0077
# semanage fcontext -a -t httpd_var_run_t "/var/run/bird-lg-go(/.*)?"
ExecStartPre=+/usr/bin/mkdir -p /run/bird-lg-go
ExecStartPre=+/usr/bin/chown nginx:nginx /run/bird-lg-go
ExecStartPre=/bin/rm -f /run/bird-lg-go/bird-lg-go.sock
ExecStart=/usr/local/sbin/bird-lg-go --servers ab06,ca04,jp02,uc01 --domain indn42.maiyun.me --listen /run/bird-lg-go/bird-lg-go.sock

[Install]
WantedBy=multi-user.target
