[Unit]
Description=StayRTR for dn42 routes
After=network.target

[Service]
Type=simple
DynamicUser=true
CapabilityBoundingSet=
PrivateDevices=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectKernelTunables=true
RestrictAddressFamilies=AF_INET AF_INET6
RestrictRealtime=true
UMask=0077
ExecStart=/usr/bin/stayrtr -bind=:8082 -metrics.addr=:9647 -checktime=false -protocol=0 -cache=https://dn42.burble.com/roa/dn42_roa_46.json

[Install]
WantedBy=multi-user.target
