[Unit]
Description=StayRTR for dn42 routes
After=network.target

[Service]
Type=simple
DynamicUser=true
CapabilityBoundingSet=
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
UMask=0077
ExecStart=/usr/bin/stayrtr -bind=:8082 -metrics.addr=:9647 -checktime=false -protocol=0 -cache=https://dn42.burble.com/roa/dn42_roa_46.json

[Install]
WantedBy=multi-user.target
