[Unit]
Description=StayRTR for inet routes
After=network.target

[Service]
Type=simple
WorkingDirectory=/usr/share/stayrtr
ExecStart=/usr/bin/stayrtr -bind=:8282 -protocol=0 -cache=https://console.rpki-client.org/rpki.json

[Install]
WantedBy=multi-user.target
