# vi: ft=systemd
# /etc/systemd/network/20-internal0-wg.netdev

[NetDev]
Name=wginternal0
Kind=wireguard
Description=Internal WireGuard tunnel

[WireGuard]
ListenPort=24300
PrivateKeyFile=/etc/systemd/network/internal.wgkey

[WireGuardPeer]
PublicKey=zKX+3pDCcYji0QWaDCcZUmOZPUoTfSkhS9Cgq3NqlWk=
Endpoint=uc01.dn42.maiyun.me:24300
AllowedIPs=0.0.0.0/0
AllowedIPs=::/0
