# vi: ft=systemd
# /etc/systemd/network/20-internal0-wg.network

[Match]
Name=wginternal0

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4040

[Network]
Description=Internal WireGuard tunnel between uc01 and ca04
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fdc0:d227:306:ca04::1/64

[Address]
Address=fe80::ca04/64
