# vi: ft=systemd
# /etc/systemd/network/20-internal0-wg.network

[Match]
Name=wginternal0

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6

[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::ca04/64
