# vi: ft=systemd
# /etc/systemd/network/20-ztbtosre7x.network

[Match]
Name=ztbtosre7x

[Link]
RequiredForOnline=no

[Network]
Description=ZeroTier
DNS=172.23.6.161
Domains=dn42

[Address]
Address=172.23.6.161/28

[Address]
Address=fdc0:d227:306:ee01::1/112
