# vi: ft=systemd
# /etc/systemd/network/30-dn42-sdrl-tor.network

[Match]
Name=wg2016sdrltor

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6

[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::2016/64
