# vi: ft=systemd
# /etc/systemd/network/30-dn42-iedon-nyc.network

[Match]
Name=wg2189iedonnyc

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242422189 iedon NYC
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::2189:124/64
