# vi: ft=systemd
# /etc/systemd/network/30-dn42-flap-fr.network

[Match]
Name=wg0263flapfr

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242420263 FlipFlap us-nyc1
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::263/64
