# vi: ft=systemd
# /etc/systemd/network/30-dn42-cowgl-yyz.network

[Match]
Name=wg3999cowglyyz

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242423999 cowgl Toronto
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::5:3999/64
