# vi: ft=systemd
# /etc/systemd/network/30-dn42-iedon-sjc.network

[Match]
Name=wg2189iedonsjc

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::2189:e8/64
