# vi: ft=systemd
# /etc/systemd/network/30-dn42-tech9-chi.netdev

[NetDev]
Name=wg1588tech9chi
Kind=wireguard
Description=WireGuard tunnel to AS4242421588 tech9 us-chi01

[WireGuard]
ListenPort=24258
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=0kb8ffMcbx8oXZ3Ii5khOuCzmRqM2Cy0IslmrWtRGSk=
Endpoint=us-chi01.dn42.tech9.io:59369
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
