# vi: ft=systemd
# /etc/systemd/network/30-dn42-lare-use2.netdev

[NetDev]
Name=wg3035lareuse2
Kind=wireguard
Description=WireGuard tunnel to AS4242423035 Lare Chicago

[WireGuard]
ListenPort=24209
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=AREskFoxP2cd6DXoJ7druDsiWKX+8TwrkQqfi4JxRRw=
Endpoint=use2.dn42.lare.cc:20893
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
