# vi: ft=systemd
# /etc/systemd/network/30-dn42-brgn-to01.network

[Match]
Name=wg1732brgnto01

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242421732 Baragoon Toronto
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::1732/64
