# vi: ft=systemd
# /etc/systemd/network/30-dn42-lare-use2.network

[Match]
Name=wg3035lareuse2

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242423035 Lare Chicago
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::3035:137/64
