# vi: ft=systemd
# /etc/systemd/network/35-ampr-ipip.network

[Match]
Name=tunl0

[Link]
Multicast=yes

[Network]
DHCP=no
IPForward=yes
KeepConfiguration=yes

[Address]
Address=44.63.16.193/32

[RoutingPolicyRule]
To=44.0.0.0/9
Table=44
Priority=44

[RoutingPolicyRule]
To=44.128.0.0/10
Table=44
Priority=44

[RoutingPolicyRule]
From=44.63.16.192/28
Table=44
Priority=45

# Internal routes distributed by babel
[RoutingPolicyRule]
To=44.63.16.192/28
Table=main
Priority=43

# dn42 routes distributed by bird
[RoutingPolicyRule]
To=172.20.0.0/14
Table=main
Priority=43

[Route]
Destination=0.0.0.0/0
Gateway=169.228.34.84
GatewayOnLink=yes
Table=44
