# vi: ft=systemd
# /etc/systemd/network/35-ampr-ipip.network

[Match]
Name=tunl0

[Link]
Multicast=yes

[Network]
Description=IPIP network from amprgw.ucsd.edu
DHCP=no
IPForward=yes
KeepConfiguration=yes

[Address]
Address=44.63.16.193/32

[RoutingPolicyRule]
To=44.0.0.0/9
Table=44
Priority=44

[RoutingPolicyRule]
To=44.128.0.0/10
Table=44
Priority=44

[RoutingPolicyRule]
From=44.63.16.192/28
Table=44
Priority=45

# nftables will mark connections established from inside 44 to
# our non-44 with mark 4401 (see nftables)
[RoutingPolicyRule]
FirewallMark=4401
Table=main
Priority=42

[Route]
Destination=0.0.0.0/0
Gateway=169.228.34.84
GatewayOnLink=yes
Table=44
