# vi: ft=systemd
# /etc/systemd/network/30-dn42-rbits-tyo.netdev

[NetDev]
Name=wg0207rbitstyo
Kind=wireguard
Description=WireGuard tunnel to AS4242420207 RoutedBits Tokyo

[WireGuard]
ListenPort=24207
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=Urnj0In2/ba5zBJ0+TvGN6/A3JFXZwWfJ3EVkc5A4Cs=
Endpoint=router.tyo1.routedbits.com:50893
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
