# vi: ft=systemd
# /etc/systemd/network/30-dn42-hujk-tyo.network

[Match]
Name=wg2717hujktyo

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242422717 hujk Tokyo
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::2717/64
