# vi: ft=systemd
# /etc/systemd/network/30-dn42-lare-jp01.network

[Match]
Name=wg3035larejp01

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6

[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::3035:134/64
