# vi: ft=systemd
# /etc/systemd/network/30-dn42-lezi-hk.netdev

[NetDev]
Name=wg3377lezihk
Kind=wireguard
Description=WireGuard tunnel to AS4242423377 lezi hk

[WireGuard]
ListenPort=24204
PrivateKeyFile=/etc/systemd/network/dn42.wgkey

[WireGuardPeer]
PublicKey=XaX6/G7EQbcjsrtlxNmDc/s/VSdTxtkBxZKB2JpWIHo=
Endpoint=hk1.peer.dn42.leziblog.com:20893
AllowedIPs=10.0.0.0/8
AllowedIPs=172.20.0.0/14
AllowedIPs=172.31.0.0/16
AllowedIPs=fd00::/8
AllowedIPs=fe80::/64
