# vi: ft=systemd
# /etc/systemd/network/30-dn42-iedon-tyo.network

[Match]
Name=wg2189iedontyo

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::2189:ee/64
