# vi: ft=systemd
# /etc/systemd/network/30-dn42-potat0-hkg.network

[Match]
Name=wg1816potat0hkg

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242421816 Potat0 Hong Kong
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::1816/64
