# vi: ft=systemd
# /etc/systemd/network/30-dn42-dpnt-sin.network

[Match]
Name=wg0150dpntsin

[Link]
RequiredForOnline=degraded:routable
RequiredFamilyForOnline=ipv6
Group=4242

[Network]
Description=WireGuard tunnel to AS4242420150 Darkpoint Singapore
DHCP=no
IPv6AcceptRA=false
IPForward=yes
IPv4ReversePathFilter=no
KeepConfiguration=yes

[Address]
Address=fe80::893/64
Peer=fe80::150/64
