[Unit]
Description=BIRD Internet Routing Daemon
After=network-online.target

[Service]
Type=simple
RuntimeDirectory=bird
User=bird
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE CAP_NET_RAW
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK
RestrictNamespaces=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
UMask=0077
ExecStartPre=/usr/local/sbin/bird -p -c /etc/bird.conf
ExecStart=/usr/local/sbin/bird -f -c /etc/bird.conf
ExecReload=/usr/local/sbin/birdc configure
Restart=on-failure

[Install]
WantedBy=multi-user.target
