[Unit]
Description=Bird Looking Glass Proxy
Wants=syslog.service local-fs.target
After=local-fs.target

[Service]
Restart=always
ExecStart=/usr/local/sbin/bird-lgproxy-go --allowed=fdc0:d227:306:ee01::1

[Install]
WantedBy=multi-user.target
