[Unit]
Description=Bird Looking Glass Proxy
Wants=syslog.service local-fs.target
After=local-fs.target

[Service]
Restart=always
User=bird
CapabilityBoundingSet=CAP_NET_RAW
LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictSUIDSGID=true
RestrictRealtime=true
SystemCallArchitectures=native
UMask=0077
ExecStart=/usr/local/sbin/bird-lgproxy-go --allowed=fdc0:d227:306:ee01::1,fdc0:d227:306:ca04::1

[Install]
WantedBy=multi-user.target
