[Unit]
Description=BIRD Internet Routing Daemon
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /run/bird
ExecStartPre=/usr/bin/chown bird:bird /run/bird
ExecStartPre=/usr/bin/chmod 755 /run/bird
ExecStartPre=/usr/local/sbin/bird -p
ExecStart=/usr/local/sbin/bird -f -u bird -g bird
ExecReload=/usr/local/sbin/birdc configure
Restart=on-failure

[Install]
WantedBy=multi-user.target
