# vi: ft=systemd
# /etc/systemd/system/network-dn42-wg@.service

[Unit]
Description=Configure dn42 WireGuard tunnel $I
Wants=network.target iprule-4242.service
After=local-fs.target network-pre.target systemd-sysctl.service systemd-modules-load.service iprule-4242.service
Before=network.target shutdown.target network-online.target
Conflicts=shutdown.target

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=/etc/wireguard/%I.env

# Config generation
ExecStartPre=/bin/mkdir -p /var/tmp/wgconf
ExecStartPre=/bin/sh -c 'sed "s/@PRIVATE_KEY@/$(cat /etc/wireguard/dn42.wgkey)/" /etc/wireguard/%I.conf.in > /var/tmp/wgconf/%I.conf'
# Cleanup potential partial setup
ExecStartPre=-/usr/sbin/ip link delete %I

ExecStart=/usr/sbin/ip link add %I mtu $MTU group 4242 type wireguard
ExecStart=/usr/sbin/ip address add $OUR_v6ADDR peer $PEER_v6ADDR dev %I
ExecStart=/bin/sh -c '[ -n "$OUR_v4ADDR" ] && /usr/sbin/ip address add $OUR_v4ADDR peer $PEER_v4ADDR dev %I'
ExecStart=/usr/bin/wg setconf %I /var/tmp/wgconf/%I.conf
ExecStart=/usr/sbin/ip link set %I up

ExecReload=/usr/bin/wg syncconf %I /var/tmp/wgconf/%I.conf

ExecStop=-/usr/sbin/ip link set %I down
ExecStop=-/usr/sbin/ip link delete %I

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target
